@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Lenis manages scroll */
}

.section {
  height: 100vh;       /* Each section fills the screen */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}
